{% extends 'base.html.twig' %}

{% block title %}Hello TypeController!{% endblock %}

{% block body %}

    <a href="{{ path('app_index') }}"><h1>Pokemen</a><br><br>{{ typeName }}</h1>

    {# <img src="{{ type.image }}" alt="{{typeName}}'s gif"> #}
    <br>
    {% if previousType %}
        <a href="{{ path('app_type', {'typeName': previousType.name}) }}">Previous Type</a>
    {% endif %}

    {% if nextType %}
        <a href="{{ path('app_type', {'typeName': nextType.name}) }}">Next Type</a>
    {% endif %}
    <br>
    <a href="{{ path('app_types') }}">Back to Types</a>
    
{% endblock %}
