{% extends 'base.html.twig' %}

{% block title %}Hello ypeController!{% endblock %}

{% block body %}

    <h1>Types</h1>
    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('app_add_to_types') }}">add a type</a><br><br>
    {% endif %}
    {% for type in types %}

        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('app_edit_from_types', { slug: type.slug }) }}">(Edit)</a>&nbsp;-&nbsp;
        {% endif %}

        <a href="{{ path('app_type', { slug: type.slug }) }}">{{ type.name }}</a>
        {% if is_granted('ROLE_ADMIN') %}
            &nbsp;-&nbsp;<a href="{{ path('app_delete_from_types', { slug: type.slug }) }}">(Delete)</a>
        {% endif %}
        <br>
    {% else %}
        {{ 'No types found.' }}
    {% endfor %}
    
    <div class="backPaddle">
        <a href="{{ path('app_index') }}">Back to Index</a>
    </div>

{% endblock %}
