{% extends 'base.html.twig' %}

{% block title %}Hello TypeController!{% endblock %}

{% block body %}

    <h1>{{ type.name }}</h1>

    {# <img src="{{ type.image }}" alt="{{ type.name }}'s gif"> #}


    <div class="backPaddle">
    {% if previousType %}
        <a href="{{ path('app_type', {'slug': previousType.slug}) }}"> ← </a>
    {% endif %}
    {% if previousType and nextType %}
    &nbsp;&nbsp;
    {% endif %}
    {% if nextType %}
        <a href="{{ path('app_type', {'slug': nextType.slug}) }}"> → </a>
    {% endif %}
    <br>
    <a href="{{ path('app_types') }}">Back to Types</a>
    </div>
    
{% endblock %}
