{% extends 'base.html.twig' %}

{% block title %}Hello ypeController!{% endblock %}

{% block body %}

    <a href="{{ path('app_index') }}"><h1>Pokemen</a> Types</h1>
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('app_add_to_types') }}">add a type</a><br>
        {% endif %}
        {% for type in types %}
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('app_edit_from_types', { slug: type.slug }) }}">(Edit)</a>&nbsp;-&nbsp;
            {% endif %}
            <a href="{{ path('app_type', { slug: type.slug }) }}">{{ type.name }}</a>
            <br>
        {% else %}
            {{ 'No types found.' }}
        {% endfor %}
    <br>
    <a href="{{ path('app_index') }}">Back to Pokemen's Index</a>

{% endblock %}
