{% extends 'base.html.twig' %}

{% block title %}Hello PokedexController!{% endblock %}

{% block body %}

    <a href="{{ path('app_index') }}"><h1>Pokemen</a> Pokedex</h1>
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('app_add_to_pokedex') }}">add a pokemon</a><br>
        {% endif %}
        {% for pokemen in pokemon %}
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ path('app_edit_from_pokedex', { slug: pokemen.slug }) }}">(Edit)</a>&nbsp;-&nbsp;
            {% endif %}
            <a href="{{ path('app_pokemon', { slug: pokemen.slug }) }}">{{ pokemen.name }}</a> - {{ pokemen.number }}
            <br>
        {% else %}
            {{ 'Mising No.' }}
        {% endfor %}
    <br>
    <a href="{{ path('app_index') }}">Back to Pokemen's Index</a>

{% endblock %}