
{% extends 'base.html.twig' %}

{% block title %}Hello PokedexController!{% endblock %}

{% block body %}
    <h1>{{ pokemon.name }}</h1>
    <h3>{{ 'Pokemon\'s type: ' }}{{ pokemon.type.name }}<br>{{ 'First region: ' }}{{ pokemon.region.name }}</h3>
    <img src="{{ pokemon.image }}" alt="{{pokemon.name}}'s gif">
    <br>
        {% if previousPokemon %}
            <a href="{{ path('app_pokedex_pokemon', {'id': previousPokemon.id}) }}">Previous Pokemon</a>
        {% endif %}

        {% if nextPokemon %}
            <a href="{{ path('app_pokedex_pokemon', {'id': nextPokemon.id}) }}">Next Pokemon</a>
        {% endif %}
    <br>
    <a href="{{ path('app_pokedex') }}">Back to Pokedex</a>

{% endblock %}

