{% extends 'base.html.twig' %}

{% block title %}Hello PokedexController!{% endblock %}

{% block body %}
    <a href="{{ path('app_index') }}"><h1>Pokemen</a></h1>
    {% if is_granted('ROLE_USER') %}
        <a href="{{ path('app_logout') }}"><h2>Logout</h2></a>
    {% else %}
        <a href="{{ path('app_login') }}"><h2>Login</h2></a>
    {% endif %}
    <img src="{{ pokemon.image }}" alt="{{pokemon.name}}'s gif">
    <h1>{{ pokemon.name }} - {{ pokemon.number }}</h1>

    <h3>{{ 'Pokemon\'s type: ' }}{{ pokemon.type.name }}<br>{{ 'First region: ' }}{{ pokemon.region.name }}</h3>
    <br>
{% if previousPokemon %}
    <a href="{{ path('app_pokemon', {'slug': previousPokemon.slug}) }}">Previous pokemon</a>
{% endif %}

{% if nextPokemon %}
    <a href="{{ path('app_pokemon', {'slug': nextPokemon.slug}) }}">Next pokemon</a>
{% endif %}

    <br>
    <a href="{{ path('app_pokedex') }}">Back to Pokedex</a>

{% endblock %}
