{% extends 'base.html.twig' %}

{% block title %}Hello PokedexController!{% endblock %}

{% block body %}

 <a href="{{ path('app_index') }}"><h1>Pokemen</a> Pokedex</h1>

        <h3><a href="{{ path('app_add_to_pokedex') }}">add a pokemon</a></h3>
        <br><br>
        {% for pokemen in pokemon %}
            <a href="{{ path('app_pokemon', { id: pokemen.id }) }}">{{ pokemen.name }}</a>
            <br>
        {% else %}
            {{ 'Mising No.' }}
        {% endfor %}
{% endblock %}