{% extends 'base.html.twig' %}

{% block title %}Hello PokedexController!{% endblock %}

{% block body %}

    <h1>{{ pokemon.name }} nº {{ pokemon.number }}</h1>
    <img src="{{ pokemon.image }}" alt="{{pokemon.name}}'s gif">

    <h2>{{ 'Pokemon\'s type: ' }}{{ pokemon.type.name }}<br>{{ 'First region: ' }}{{ pokemon.region.name }}</h2>
    <br>
    <div class="backPaddle">
        {% if previousPokemon %}
            <a href="{{ path('app_pokemon', {'slug': previousPokemon.slug}) }}"> ← </a>
        {% endif %}
        {% if previousPokemon and nextPokemon %}
        &nbsp;&nbsp;
        {% endif %}
        {% if nextPokemon %}
            <a href="{{ path('app_pokemon', {'slug': nextPokemon.slug}) }}"> → </a>
        {% endif %}
        <br>
        <a href="{{ path('app_pokedex') }}">Back to Pokedex</a>
    </div>

{% endblock %}
