{% extends 'base.html.twig' %}

{% block title %}Hello RegionController!{% endblock %}

{% block body %}

    <h1>Regions</h1>

    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('app_add_to_regions') }}">add a Region</a><br><br>
    {% endif %}

    {% for region in regions %}
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('app_edit_from_regions', { slug: region.slug }) }}">(Edit)</a>&nbsp;-&nbsp;
        {% endif %}
        <a href="{{ path('app_region', { slug: region.slug }) }}">{{ region.name }}</a>

        {% if is_granted('ROLE_ADMIN') %}
            &nbsp;-&nbsp;<a href="{{ path('app_delete_from_regions', { slug: region.slug }) }}">(Delete)</a>
        {% endif %}
        <br>
        {% else %}
            {{ 'No regions found.' }}
    {% endfor %}

    <div class="backPaddle">
        <a href="{{ path('app_index') }}">Back to Index</a>
    </div>

{% endblock %}
